body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.design
{
     background-color:#20670d;
     height:120px;
     width:100%;
     border-radius:20px;
    
}

.rutText
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size:130%;
    padding-top:3%;
    text-shadow:10px;

}


.antalGissningar
{
    background-color:#ae2525;
    color:white
}

.bg-warning
{
    background-color:#1ea2e4;
}

.bg-danger
{
    background-color:#e44e4e;
}

.bg-success
{
    background-color:#09b613
}

.clearfix
{
    margin-top:20px;
}